  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center amber-text text-lighten-2">Meads Expectations</h1>
        <div class="row center">
          <h5 class="header col s12 light">A place keep track of your mead batches</h5>
        </div>
        <div class="row center">
          <%= link_to 'Sign Up', new_user_registration_path, class: "btn-large waves-effect waves-light amber lighten-1" %>
        <%= link_to 'Sign In', new_user_session_path, class: "btn-large waves-effect waves-light amber lighten-1" %>
        </div>
      </div>
    </div>
    <div class="parallax"><%= image_tag 'honeycomb.jpg', class: "darker-image" %></div>
  </div>

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m3">
          <div class="icon-block">
            <h2 class="center amber-text"><i class="fa fa-upload" aria-hidden="true"></i></h2>
            <h5 class="center">Upload recipes</h5>

            <p class="light">Cat ipsum dolor sit amet, lick butt, and shake treat bag meowzer!. Leave dead animals as gifts sit in box sun bathe, so lick the other cats ignore the squirrels, you'll never catch them anyway claws in your leg. Gnaw the corn cob scratch leg; meow for can opener to feed me.</p>
          </div>
        </div>

        <div class="col s12 m3">
          <div class="icon-block">
            <h2 class="center amber-text"><i class="fa fa-list" aria-hidden="true"></i></h2>
            <h5 class="center">Stay on track</h5>

            <p class="light">Cat ipsum dolor sit amet, lick butt, and shake treat bag meowzer!. Leave dead animals as gifts sit in box sun bathe, so lick the other cats ignore the squirrels, you'll never catch them anyway claws in your leg. Gnaw the corn cob scratch leg; meow for can opener to feed me. </p>
          </div>
        </div>

        <div class="col s12 m3">
          <div class="icon-block">
            <h2 class="center amber-text"><i class="fa fa-plus-circle" aria-hidden="true"></i></h2>
            <h5 class="center">Add your own steps</h5>

            <p class="light">Cat ipsum dolor sit amet, lick butt, and shake treat bag meowzer!. Leave dead animals as gifts sit in box sun bathe, so lick the other cats ignore the squirrels, you'll never catch them anyway claws in your leg. Gnaw the corn cob scratch leg; meow for can opener to feed me.</p>
          </div>
        </div>
        <div class="col s12 m3">
          <div class="icon-block">
            <h2 class="center amber-text"><i class="fa fa-exchange" aria-hidden="true"></i></h2>
            <h5 class="center">Analyze your batch</h5>

            <p class="light">Cat ipsum dolor sit amet, lick butt, and shake treat bag meowzer!. Leave dead animals as gifts sit in box sun bathe, so lick the other cats ignore the squirrels, you'll never catch them anyway claws in your leg. Gnaw the corn cob scratch leg; meow for can opener to feed me.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
