  <div class="section welcome-page">
    <div class="honeycomb-background" title="honeycomb background">
      <div class="row">
        <div class="small-12 columns text-center">
          <h1 class="text-center">Meads Expectations</h1>
          <h4>A place to keep track of your mead batches</h4>
        </div>
      </div>
      <div class="row">
          <div class="columns small-12 text-center">
            <% if user_signed_in? %>
            <%= link_to 'Recipes', recipes_path, class: "large button" %>
            <%= link_to 'Batches', batches_path, class: "large button" %>
            <% else %>
            <%= link_to 'Sign Up', new_user_registration_path, class: "large button" %>
            <%= link_to 'Sign In', new_user_session_path, class: "large button" %>
            <% end %>
          </div>
      </div>
    </div>
  </div>

  <div class="page-container">
    <div class="row column">
      <!--   Icon Section   -->
      <div class="row">
        <div class="column small-12 medium-6 large-6">
          <div class="icon-block">
            <h2 class="text-center"><i class="fa fa-upload" aria-hidden="true"></i></h2>
            <h4 class="text-center lead-bold">Save recipes</h4>

            <p class="lead text-center">Choose a mead sweetness and variety and enter your recipe's ingredients and instructions to apply to your batches. View and track success and failure with recipe use.</p>
          </div>
        </div>

        <div class="columns small-12 medium-6 large-6">
          <div class="icon-block">
            <h2 class="text-center"><i class="fa fa-list" aria-hidden="true"></i></h2>
            <h4 class="text-center lead-bold">Track your progress</h4>

            <p class="lead text-center">See what needs to be done next with batch to-do lists generated from the recipe. Easily record your hydrometer readings and have your batch's ABV calculated for you.</p>
          </div>
        </div>

        <div class="columns small-12 medium-6 large-6">
          <div class="icon-block">
            <h2 class="text-center"><i class="fa fa-plus-circle" aria-hidden="true"></i></h2>
            <h4 class="text-center lead-bold">Add your own steps</h4>

            <p class="lead text-center">Want to try something different? Add your own steps instead of following the recipe suggestions. Save your new steps as a recipe once your batch is done.</p>
          </div>
        </div>
        <div class="columns small-12 medium-6 large-6">
          <div class="icon-block">
            <h2 class="text-center"><i class="fa fa-exchange" aria-hidden="true"></i></h2>
            <h4 class="text-center lead-bold">Analyze your batch</h4>

            <p class="lead text-center">See what you did differently. Batches that are variations of a recipe will display a comparison against the original instructions once finished.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
