<div class="section">
  <div class="honey-background">
    <h1 class="text-center">Meads Expectations</h1>
    <div class="row">
      <h4 class="columns small-12 text-center">A place keep track of your mead batches</h4>
    </div>
    <div class="row">
      <div class="columns small-12 text-center">
        <% if user_signed_in? %>
        <%= link_to 'Recipes', recipes_path, class: "large button" %>
        <%= link_to 'Batches', batches_path, class: "large button" %>
        <% else %>
          <%= link_to 'Sign Up', new_user_registration_path, class: "large button" %>
          <%= link_to 'Sign In', new_user_session_path, class: "large button" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>

<div class="section">
  <div class="row column">
    <!--   Icon Section   -->
    <div class="row">
      <div class="column small-12 medium-6 large-6">
        <div class="icon-block">
          <h2 class="text-center"><i class="fa fa-upload" aria-hidden="true"></i></h2>
          <h4 class="text-center lead-bold">Save recipes</h4>

          <p class="lead">Cat ipsum dolor sit amet, lick butt, and shake treat bag meowzer!. Leave dead animals as gifts sit in box sun bathe, so lick the other cats ignore the squirrels, you'll never catch them anyway claws in your leg. Gnaw the corn cob scratch leg; meow for can opener to feed me.</p>
        </div>
      </div>

      <div class="columns small-12 medium-6 large-6">
        <div class="icon-block">
          <h2 class="text-center"><i class="fa fa-list" aria-hidden="true"></i></h2>
          <h4 class="text-center lead-bold">Stay on track</h4>

          <p class="lead">Cat ipsum dolor sit amet, lick butt, and shake treat bag meowzer!. Leave dead animals as gifts sit in box sun bathe, so lick the other cats ignore the squirrels, you'll never catch them anyway claws in your leg. Gnaw the corn cob scratch leg; meow for can opener to feed me. </p>
        </div>
      </div>

      <div class="columns small-12 medium-6 large-6">
        <div class="icon-block">
          <h2 class="text-center"><i class="fa fa-plus-circle" aria-hidden="true"></i></h2>
          <h4 class="text-center lead-bold">Add your own steps</h4>

          <p class="lead">Cat ipsum dolor sit amet, lick butt, and shake treat bag meowzer!. Leave dead animals as gifts sit in box sun bathe, so lick the other cats ignore the squirrels, you'll never catch them anyway claws in your leg. Gnaw the corn cob scratch leg; meow for can opener to feed me.</p>
        </div>
      </div>
      <div class="columns small-12 medium-6 large-6">
        <div class="icon-block">
          <h2 class="text-center"><i class="fa fa-exchange" aria-hidden="true"></i></h2>
          <h4 class="text-center lead-bold">Analyze your batch</h4>

          <p class="lead">Cat ipsum dolor sit amet, lick butt, and shake treat bag meowzer!. Leave dead animals as gifts sit in box sun bathe, so lick the other cats ignore the squirrels, you'll never catch them anyway claws in your leg. Gnaw the corn cob scratch leg; meow for can opener to feed me.</p>
        </div>
      </div>
    </div>
  </div>
</div>
