<div class="page-container">
  <div id="batch-info" class="<%= @batch.id %>"></div>
  <%= link_to 'Delete Batch', batch_path(@batch), data: { confirm: "Are you sure?" }, method: :delete, class: "button" %>
</div>
