.form-inputs {
  margin: 10px;
}

.hint {
  color: darkcyan;
  font-size: 0.8rem;
  font-style: italic;
}

.left-margin {
  margin-left: 10px;
}

.right-margin {
  margin-right: 10px;
}

.delete-button {
  background-color: black;
}
