@import "settings";


.form-inputs {
  margin: 10px;
}

.hint {
  color: darkcyan;
  font-size: 0.8rem;
  font-style: italic;
}

.left-margin {
  margin-left: 10px;
}

.right-margin {
  margin-right: 10px;
}

.delete-button {
  background-color: black;
}

.error {
  display: block;
  color: red;
  font-style: italic;
  font-weight: bold;
}

.alert-box.alert {
  color: red;
  font-style: italic;
  font-weight: bold;
}
