.ingredient.callout, .step.callout {
  border-radius: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.ingredient-list ul li {
  list-style: none;
}

ul, ol {
  margin-left: 0;
}

.step-list {
  p {
    margin: 0;
  }

}
