@import "colors";

.ingredient.callout, .step.callout {
  padding-right: 30px;
  padding-left: 30px;

}

.ingredient-list ul li {
  list-style: none;
}

.variation-list .step-list {
  padding: 0
}


ul, ol {
  margin-left: 0;
}

.step-list {
  p {
    margin: 0;
  }

  ol li {
    list-style-position: inside;
  }

}

.icon-button {
  padding: 0;
}

.completed-step {
  text-decoration: line-through;
}

.original-step {
  color: grey;
}

.new-step {
  color: $main-color;
}
