.bee {
  display: block;
  width: 100px;
  height: auto;
}

nav {
  ul {
    &.left {
      padding-left: 200px;
    }
    &.right {
      padding-right: 200px;
    }
  li {
    // margin: 0 20px;
  }
  }

}
