.parallax-container {
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);

  .section {
    width: 100%;
  }
}

.darker-image {
  -webkit-filter: brightness(50%);
  filter: brightness(50%);
}
// .parallax img {
//   display: none;
//   // opacity: 0.8;
//   filter: brightness(0%);
//   position: absolute;
//   left: 50%;
//   bottom: 0;
//   min-width: 100%;
//   min-height: 100%;
//   -webkit-transform: translate3d(0, 0, 0);
//   transform: translate3d(0, 0, 0);
//   -webkit-transform: translateX(-50%);
//           transform: translateX(-50%);
// }
