
@import "materialize/components/color";
@import "materialize";
@import "footer";
@import "navigation";
@import "parallax";

.strikethrough {
  text-decoration: line-through;
}

.flash {
  display: none;
}

.ingredient-list {
  li {
    margin: 2px 0;
  }
}

// .steps-sub-bit {
//   margin-left: 2px
// }
//
// .ingredients-sub-bit {
//   margin-right: 2px;
// }
